<ul>
  <li data-translate="AMERICAN_APPAREL_2001"><%= @copy.AMERICAN_APPAREL_2001[@language] %></li>
  <li data-translate="AMERICAN_APPAREL_2001_FABRIC"><%= @copy.AMERICAN_APPAREL_2001_FABRIC[@language] %></li>
  <li data-translate="RUNS_SMALL"><%= @copy.RUNS_SMALL[@language] %></li>
  <li data-translate="DOUBLE_STITCHED"><%= @copy.DOUBLE_STITCHED[@language] %></li>
  <li data-translate="DTG"><%= @copy.DTG[@language] %></li>
  <li data-translate="MADE_IN_USA"><%= @copy.MADE_IN_USA[@language] %></li>
  <li><span data-translate="FABRIC_WEIGHT"><%= @copy.FABRIC_WEIGHT[@language] %></span>: 4.3 oz/yd²</li>
</ul>