<ul>
  <li data-translate="ROYAL_APPAREL_5051"><%= @copy.ROYAL_APPAREL_5051[@language] %></li>
  <li data-translate="ROYAL_APPAREL_5051_FABRIC"><%= @copy.ROYAL_APPAREL_5051_FABRIC[@language] %></li>
  <!-- <li data-translate="RUNS_SMALL"><%= @copy.RUNS_SMALL[@language] %></li> -->
  <!-- <li data-translate="DOUBLE_STITCHED"><%= @copy.DOUBLE_STITCHED[@language] %></li> -->
  <!-- <li>Set on rib collar</li> -->
  <!-- <li>Double-needle sleeve hem &amp; bottom hem</li> -->
  <!-- <li>Tape shoulder-to-shoulder</li> -->
  <!-- <li>Side-seamed</li> -->
  <!-- <li>Tear-away label</li> -->
  <li data-translate="DTG"><%= @copy.DTG[@language] %></li>
  <li data-translate="MADE_IN_USA"><%= @copy.MADE_IN_USA[@language] %></li>
  <li><span data-translate="FABRIC_WEIGHT"><%= @copy.FABRIC_WEIGHT[@language] %></span>: 4.4 oz/yd²</li>
</ul>