<%= erb :_top %>
<main class="view view--collection">
  <div class="content content--collection">
    <h1 class="collection-heading" data-translate="COLLECTION"><%= @copy.COLLECTION[@language] %></h1>
    <div id="products" class="products">
      <% @products.each do |product| %>
        <article id="<%= product.id %>" class="product-item">
          <a class="product-link" title="View product" href="/collection/<%= product.id %>/">
            <% if product.key?('variants') %>
            <% product.variants[0].colorways.each do |colorway| %>
            <picture>
              <source
                type="image/webp"
                srcset="
                  /collection/<%= product.id %>/product--<%= colorway.id %>.webp 1x,
                  /collection/<%= product.id %>/product--<%= colorway.id %>@2x.webp 2x,
                  /collection/<%= product.id %>/product--<%= colorway.id %>@3x.webp 3x"
              />
              <img
                id="<%= product.id %>--<%= colorway.id %>"
                src="/collection/<%= product.id %>/product--<%= colorway.id %>.png"
                srcset="
                  /collection/<%= product.id %>/product--<%= colorway.id %>.png 1x,
                  /collection/<%= product.id %>/product--<%= colorway.id %>@2x.png 2x,
                  /collection/<%= product.id %>/product--<%= colorway.id %>@3x.png 3x"
                sizes="(min-width: 342px) 256px"
                width="256"
                height="256"
                alt="Product shot"
                data-translate="PRODUCT_SHOT"
                data-translate-target="alt"
                <%= ( product.variants[0].colorways.index(colorway) == 0 ) ? '' : ' hidden' %>
              />
            </picture>
            <% end %>
            <% end %>
          </a>
          <h2 class="product-heading" data-translate="_PRODUCT_NAME_"><%= product.name[@language] %></h2>
          <% if product.key?('variants') %>
          <div class="product-rundown">
            <% category_translation_key = product['variants'][0]['type'].upcase.sub( '-', '_' ) %>
            <div class="product-category" data-translate="<%= category_translation_key %>"><%= @copy[category_translation_key][@language] %></div>
            <div class="product-price"><%= '$' << Money.from_amount(product['variants'][0].price.USD.amount, "USD").to_s %></div>
          </div>
          <ul class="product-colors" aria-label="Colorways" data-translate="COLORWAYS" data-translate-target="aria-label">
            <% product.variants[0].colorways.each do |colorway| %>
            <% sub_colorways = '' %>
            <% colorway_translation_key = 'COLORWAY_' << colorway.id.upcase.sub( '-', '_' ) %>
            <% if colorway.key?( 'is_duochrome' ) && colorway.is_duochrome
                colorway.id.split( '-' ).each_with_index do |sub_colorway, index|
                  sub_colorways += " color--#{sub_colorway}"
                  if index == 0
                    sub_colorways += '-base'
                  else
                    sub_colorways += '-accent'
                  end
                end
              end
            %>
            <li>
              <button
                class="color<%= sub_colorways %>"
                style="background-color:#<%= colorway.hex.to_s(16).rjust(6, '0') %>;"
                title="<%= colorway.name %>"
                data-colorway="<%= product.id %>--<%= colorway.id %>"
                data-translate="<% colorway_translation_key %>"
                data-translate-target="title,textContent"
              ><%= @copy[colorway_translation_key][@language] %></button>
            </li>
            <% end %>
          </ul>
          <% end %>
        </article>
      <% end %>
    </div>
  </div>
</main>
<%= erb :_bottom %>