<%= erb :_top, :locals => { :splash => true, :page => 'home' } %>
<main class="view view--home">
  <div class="content">
    <h1 id="branding" class="branding">
      <span id="brand" class="brand" data-translate="BRAND"><%= @copy.BRAND[language] %></span>
      <picture>
        <source type="image/svg+xml" srcset="/img/no-spoon-logo.svg" />
        <source type="image/webp" srcset="/img/no-spoon-logo.webp 1x, /img/no-spoon-logo@2x.webp 2x, /img/no-spoon-logo@3x.webp 3x" />
        <img id="logo" class="logo" src="/img/no-spoon-logo.png" srcset="/img/no-spoon-logo.png 1x, /img/no-spoon-logo@2x.png 2x, /img/no-spoon-logo@3x.png 3x" width="211" alt="logo" />
      </picture>
      <span id="sub-brand" class="sub-brand" data-translate="SUB_BRAND"><%= @copy.SUB_BRAND[language] %></span>
    </h1>
    <div id="intro" class="intro">
      <p>Make art, not content.</p>
      <p>A cinematic side-hustle by <a title="Hugh Guiney on IMDb" href="https://www.imdb.com/name/nm4273358/">Hugh Guiney</a>.</p>
      <nav id="site-nav" class="site-nav">
        <div class="nav-content">
          <a id="about-link" class="nav-link" href="/about/" data-translate="ABOUT"><%= @copy.ABOUT[language] %></a>
          <%# <a id="in-development-link" class="nav-link" href="/in-development/" data-translate="IN_DEVELOPMENT">In Development</a> %>
          <a id="films-link" class="nav-link" href="/films/" data-translate="FILMS">Films</a>
          <%# <a id="magazine-link" class="nav-link" href="/magazine/" data-translate="MAGAZINE">Magazine</a> %>
        </div>
      </nav>
    </div>
  </div>
</main>
<%= erb :_bottom %>