<%= erb :_top, :locals => { :splash => true, :page => 'home' } %>
<main class="view view--home">
  <div class="content">
    <h1 id="branding" class="branding">
      <span id="brand" class="brand" data-translate="BRAND"><%= @copy.BRAND[language] %></span>
      <picture>
        <source type="image/svg+xml" srcset="/img/no-spoon-logo.svg" />
        <source type="image/webp" srcset="/img/no-spoon-logo.webp 1x, /img/no-spoon-logo@2x.webp 2x, /img/no-spoon-logo@3x.webp 3x" />
        <img id="logo" class="logo" src="/img/no-spoon-logo.png" srcset="/img/no-spoon-logo.png 1x, /img/no-spoon-logo@2x.png 2x, /img/no-spoon-logo@3x.png 3x" width="211" alt="logo" />
      </picture>
      <span id="sub-brand" class="sub-brand" data-translate="SUB_BRAND"><%= @copy.SUB_BRAND[language] %></span>
    </h1>
    <div id="intro" class="intro">
      <p lang="en"<%= ( language == 'en' ) ? '' : ' hidden' %>>Escape the Matrix.</p>
      <p lang="ja"<%= ( language == 'ja' ) ? '' : ' hidden' %>><span><span class="ww">マトリックスを</span><span class="ww">脱出</span><span class="ww">して。</span></p>
      <p lang="en"<%= ( language == 'en' ) ? '' : ' hidden' %>>A cinematic side-hustle by Hugh Guiney.</p>
      <p lang="ja"<%= ( language == 'ja' ) ? '' : ' hidden' %>><span><span class="ww">ヒュー・</span><span class="ww">ガイニーによる</span><span class="ww">サイド・</span><span class="ww">ハッスル。</span></span></p>
      <nav id="site-nav" class="site-nav">
        <div class="nav-content">
          <a id="about-link" class="nav-link" href="/about/" data-translate="ABOUT"><%= @copy.ABOUT[language] %></a>
          <%# <a id="in-development-link" class="nav-link" href="/in-development/" data-translate="IN_DEVELOPMENT">In Development</a> %>
          <a id="releases-link" class="nav-link" href="/releases/" data-translate="RELEASES">Releases</a>
          <a id="magazine-link" class="nav-link" href="/magazine/" data-translate="MAGAZINE">Magazine</a>
        </div>
      </nav>
      <%# <article>
        <h2>In Development</h2>
        <ul>
          <li><cite>Payback</cite> (2023)</li>
          <li><cite>Entanglement</cite> (Announced)</li>
        </ul>
      </article>
      <article>
        <h2>Releases</h2>
        <ul>
          <li><cite>The Cost of Doing Business</cite> (2014)</li>
          <li><cite>Trick Caldes</cite> (2011)</li>
        </ul>
      </article> %>
    </div>
  </div>
</main>
<%= erb :_bottom %>