<%= erb :_top, :locals => { :page => 'product' } %>
      <main class="view view--product">
        <article class="content content--collection content--product product">
          <header class="product__header">
            <h1 class="collection-heading product__name" data-translate="_PRODUCT_NAME_"><%= @data.name[@language] %></h1>
            <div class="product__tagline" data-translate="_PRODUCT_TAGLINE_"><%= @data.tagline[@language] %></div>
            <nav class="product__breadcrumbs" aria-label="Breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
              <h2 class="sr-only" data-translate="PRODUCT_TYPE"><%= @copy.PRODUCT_TYPE[@language] %></h2>
              <span itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/collection/" rel="up up">
                  <span itemprop="name" data-translate="COLLECTION"><%= @copy.COLLECTION[@language] %></span>
                </a>
                <meta itemprop="position" content="1" />
              </span
              >&nbsp;<span aria-hidden="true">&gt;</span
              > <span itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/collection/t-shirts/" rel="up">
                  <span itemprop="name" data-translate="T_SHIRTS"><%= @copy.T_SHIRTS[@language] %></span>
                </a>
                <meta itemprop="position" content="2" />
              </span>
            </nav>
          </header>
          <div class="row">
            <div id="<%= @data.id %>" class="column column--image">
              <% if @data.key?('variants') %>
              <% @data.variants[0].colorways.each do |colorway| %>
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    /collection/<%= @data.id %>/product--<%= colorway.id %>@2x.webp 1x,
                    /collection/<%= @data.id %>/product--<%= colorway.id %>@3x.webp 2x
                  "
                />
                <img
                  id="<%= @data.id %>--<%= colorway.id %>"
                  src="/collection/<%= @data.id %>/product--<%= colorway.id %>@2x.png"
                  srcset="
                    /collection/<%= @data.id %>/product--<%= colorway.id %>@2x.png 1x,
                    /collection/<%= @data.id %>/product--<%= colorway.id %>@3x.png 2x
                  "
                  alt="Product shot"
                  data-translate="PRODUCT_SHOT"
                  data-translate-target="alt"
                  <%= ( @data.variants[0].colorways.index(colorway) == 0 ) ? '' : ' hidden' %>
                />
              </picture>
              <% end %>
              <% end %>
            </div>
            <div class="column column--description">
              <% @missing_description_languages.each do |missing_description_language| %>
                <p class="notice" lang="<%= missing_description_language %>"<%= ( @language == missing_description_language ) ? '' : ' hidden' %>><%= @copy.MISSING_DESCRIPTION_LANGUAGE[missing_description_language] %></p>
              <% end %>
              <% @data.description_languages.each do |description_language| %>
                <% if !@missing_description_languages.empty? && ( @data.description_languages.index(description_language) == 0 ) %>
                  <div lang="<%= description_language %>" class="product-description" data-translate-preserve>
                    <%= erb :"_#{@data.id}.#{description_language}" %>
                  </div>
                <% else %>
                  <div lang="<%= description_language %>" class="product-description"<%= ( @language == description_language ) ? '' : 'hidden' %>>
                    <%= erb :"_#{@data.id}.#{description_language}" %>
                  </div>
                <% end %>
              <% end %>
              <h2 data-translate="PRODUCT_DETAILS"><%= @copy.PRODUCT_DETAILS[@language] %></h2>
              <%= erb :"_#{@data.variants[0].apparel_id}" %>
            </div><!-- /.column -->
          </div><!-- /.row -->
          <div class="row">
            <div class="column">
              <noscript>
                <p lang="en"<%= ( language == 'en' ) ? '' : ' hidden' %>><%= @copy.JAVASCRIPT_CC.en %></p>
                <p lang="ja"<%= ( language == 'ja' ) ? '' : ' hidden' %>><%= @copy.JAVASCRIPT_CC.ja %></p>
              </noscript>
              <form
                role="form"
                id="add-to-cart"
                class="hpg-wizard"
                action=""
                method="POST"
              >
                <input type="hidden" name="productId" value="<%= @data.id %>" />
                <input type="hidden" name="vendorProductId" value="<%= @data.variants[0].apparel_id %>" />
                <div id="your-order" class="repeater hpg-wizard__step hpg-wizard__step--active">
                  <fieldset class="button-holder button-holder--order">
                    <legend class="sr-only" data-translate="YOUR_ORDER"><%= @copy.YOUR_ORDER[@language] %></legend>
                    <table>
                      <thead>
                        <tr>
                          <th id="size-label" scope="col" class="table-column table-column--size" data-translate="SIZE"><%= @copy.SIZE[@language] %></th>
                          <th id="colorway-label" scope="col" class="table-column table-column--colorway" data-translate="COLORWAY"><%= @copy.COLORWAY[@language] %></th>
                          <th id="qty-label" scope="col" class="table-column table-column--qty">
                            <abbr lang="en" title="<%= @copy.QUANTITY.en %>" aria-label="<%= @copy.QUANTITY.en %>"<%= ( @language == 'en' ) ? '' : ' hidden' %>><%= @copy.QTY.en %></abbr>
                            <abbr lang="ja"<%= ( @language == 'ja' ) ? '' : ' hidden' %>><%= @copy.QTY.ja %></abbr>
                          </th>
                          <th scope="col" class="table-column table-column--actions" style="color:transparent;text-shadow:none;"><%= @copy.ACTIONS[@language] %></th>
                        </tr>
                      </thead>
                      <tbody data-repeater-list="batches">
                        <tr data-repeater-item="" class="form-group">
                          <td class="table-column table-column--size">
                            <div class="table-cell-wrapper">
                              <select id="sizes" class="clothing-sizes" name="batches[0][size]" aria-labelledby="size-label">
                                <% @data.variants[0].sizes.each do |size| %>
                                <option data-vendor-id="<%= size.vendor_id %>"<%= size.id == 'S' ? ' selected="selected"' : '' %>><%= size.id %></option>
                                <% end %>
                              </select>
                            </div><!--/.table-cell-wrapper-->
                          </td>
                          <td class="table-column table-column--colorway">
                            <div class="table-cell-wrapper">
                              <select id="color-select-button" name="colorway" aria-labelledby="colorway-label">
                                <% @default_colorways.each do |colorway|
                                   colorway_name = 'COLORWAY_' << colorway.name.upcase.sub( ' ', '_' ).sub( '-', '_' ).sub( '/', '_' )
                                %>
                                  <option data-translate="<%= colorway_name %>" data-vendor-id="<%= colorway.vendor_id %>" value="<%= "#{@data.id}--#{colorway.id}" %>"><%= @copy[colorway_name][@language] %></option>
                                <% end %>
                              </select>
                            </div><!--/.table-cell-wrapper-->
                          </td>
                          <td class="table-column table-column--qty">
                            <div class="table-cell-wrapper">
                              <input id="qty" class="qty" name="batches[0][quantity]" type="number" min="1" value="1" required="required" aria-labelledby="qty-label" />
                            </div><!--/.table-cell-wrapper-->
                          </td>
                          <td class="table-column table-column--actions" scope="row">
                            <div class="table-cell-wrapper">
                              <button
                                data-repeater-delete=""
                                type="button"
                                class="table-action table-action--remove"
                                title="Remove"
                                aria-label="Remove"
                                data-translate="REMOVE"
                                data-translate-target="title,aria-label">
                                <span aria-hidden="true">-</span>
                              </button>
                            </div><!--/.table-cell-wrapper-->
                          </td>
                        </tr><!--/data-repeater-item-->
                      </tbody>
                    </table><!--/data-repeater-list-->
                    <div class="button-holder button-holder--add">
                      <button
                        data-repeater-create=""
                        type="button"
                        class="table-action table-action--add"
                        title="Add More"
                        aria-label="Add More"
                        data-translate="ADD_MORE"
                        data-translate-target="title,aria-label">+</button>
                      </div>
                  </fieldset>
                  <div class="button-holder button-holder--offers">
                    <dl itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                      <!--price is 1000, a number, with locale-specific thousands separator
                        and decimal mark, and the $ character is marked up with the
                        machine-readable code "USD" -->
                      <dt class="sr-only" data-translate="PRICE"><%= @copy.PRICE[@language] %></dt>
                      <dd>
                        <b class="hpg-product-price" title="<%= @default_currency_text %>" aria-label="<%= @default_currency_text %>" data-translate="_PRODUCT_PRICE_" data-translate-target="title,aria-label">
                          <span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="<%= @default_price_clean %>"><%= @default_price_formatted %></span>
                        </b>
                      </dd>
                      <dt class="sr-only" data-translate="AVAILABILITY"><%= @copy.AVAILABILITY[@language] %></dt>
                      <dd>
                        <link itemprop="availability" href="http://schema.org/InStock" />
                        <span data-translate="MADE_TO_ORDER"><%= @copy.MADE_TO_ORDER[@language] %></span>
                      </dd>
                    </dl>
                  </div>
                  <div class="button-holder button-holder--add-to-cart">
                    <button
                      id="add-to-cart-cta"
                      type="button"
                      class=""
                      data-translate="ADD_TO_CART"
                      disabled><%= @copy.ADD_TO_CART[@language] %></button>
                    <!-- <button
                      id="your-order-complete"
                      type="button"
                      class="">Quick Checkout</button> -->
                  </div><!--/.button-holder-->
                </div><!-- /#your-order -->
              </form>
            </div><!--/.column-->
          </div>
        </article>
      </main>
<%= erb :_bottom, :locals => { :lang => lang } %>